/* public/styles/style.css */

/* import Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';


/* No seu arquivo de estilo CSS */


.c-item{
    height: 480px;
}

.c-image{
    height: 480px;

}

body{
    background-color: rgb(147, 147, 147);
}